/* geral */
html {
	font-family: 'Open Sans', sans-serif;
}
/* background */
.background{
    background-image: url("../image/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

body {
	margin: 0;
}

.container {
	max-width: 1920px;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* hide on desktop */
.nav-container .btn-menumobile {
	display: none;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 60px;
	height: 70px;
	margin-top: 25px;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}
/* estilos dos links */
.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: #666;
	transition: .5s;
}

.nav-container li a:hover {
	color: #3381f3;
}

/* banner */
#main-banner {
	background: url('../image/background.png') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 100px;
}

/*texto da página principal*/
.nav-container section{
	color: #fff;
}

